<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="homeController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BDG</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              {{ username }}
            </div>
            <button type="submit" class="btn btn-success" ng-click="logout()">Logout</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" lass="container" ng-app="demoApp" ng-controller="form">
  <div class="container">
  <div class="col-md-10 col-md-offset-1">
  <form class="form-horizontal" method="post">
       <section class="section-container clear-fix">
          <center><h3>Form Client</h3></center>
          <br>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-7">
                  <input type="text" class="form-control" id="name" placeholder="Name" tabindex="1">
                  </div>
                </div> 
                <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" tabindex="2">
                </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                    <input id="email" type="email" name="email" placeholder="Email" class="form-control" tabindex="3">
                    </div>
               </div> 

               <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-7">
                    <input id="phone" type="text" name="Phone" placeholder="Phone" class="form-control" tabindex="4">
                    </div>
                </div>

              
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="product" class="col-sm-3 control-label">Product</label>
                     <div class="col-sm-7">
                    <input id="product" type="text" name="product" placeholder="Product" class="form-control" tabindex="5">
                    </div>
                </div>

              <div class="form-group">
                <label for="city" class="col-sm-3 control-label">City</label>
                 <div class="col-sm-7">
                <input type="text" class="form-control" id="city" placeholder="City" tabindex="6">
                </div>
              </div> 


              <div class="form-group">
                 <label for="state" class="col-sm-3 control-label">State:</span></label>
                 <div class="col-sm-7">
                  <select class="form-control" id="state" name="state" tabindex="7">
                        <option value="" selected="">Select...</option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KL">KL</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="PR">PR</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VA">VA</option>
                        <option value="VT">VT</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                  </select>
                </div>
              </div> 

              <div class="form-group">
                    <label for="zip" class="col-sm-3 control-label">Zip</label>
                    <div class="col-sm-7">
                    <input id="zip" type="text" name="zip" placeholder="Zip" class="form-control" tabindex="8">
                    </div>
              </div>

        </div>  
        </div>
             <div class="form-group">
                    <label for="zip" class="col-sm-3 control-label">Horary</label>
                    <div class="col-sm-7">


          <div class="col-md-4">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                  <input type="text" name="datef" id="datef" ng-model="datef" value="" placeholder="From" class="form-control" required/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class='input-group date' id='datetimepicker4'>
                <input type="text" name="datef" id="datef" ng-model="datef" value="" placeholder="to" class="form-control" required/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
         </div> 
          </div>
              </div>

          <div class="form-group">
          <label for="comments" class="col-sm-3 control-label">Comments: <span class="form-required">*</span></label>
          <div class="col-sm-5">
          <textarea class="form-control" rows="3" tabindex="9"></textarea>
          </div>
        </div>
  </section>
  <br>

      <div class ="row">              
     <center> <input type="send" name="send" value="Send" class="btn btn-primary" tabindex="10"></center>
     </div>
                          
</form>

  </div>
  </div>
</div>